$cyan-600-color: hsl(192, 37%, 48%);
$cyan-300-color: hsl(192, 90%, 77%);
$cyan-hover-color: hsl(192, 54%, 64%);
$purple-600-color: hsl(268, 34%, 53%);
$purple-300-color: hsl(268, 100%, 86%);
$purple-hover-color: hsl(268, 55%, 71%);
$slate-900-color: hsl(240, 21%, 20%);
$slate-600-color: hsl(240, 10%, 57%);
$slate-300-color: hsl(240, 18%, 85%);
$white-color: hsl(0, 0%, 98%);


$text-mobile-1: 4rem;
$text-mobile-2: 3.2rem;
$text-mobile-3: 1.2rem;

$text-tablet-1: 4.8rem;
$text-tablet-2: 3.6rem;
$text-tablet-3: 1.4rem;
$text-tablet-4: 1.6rem;

$text-desktop-1: 6.4rem;
$text-desktop-2: 4rem;
$text-desktop-3: 1.8rem;
$text-desktop-4: 1.6rem;

$text-lh-1: 1.5;
$text-lh-2: 1.1;

$space-1400: 11.2rem;
$space-1000: 8rem;
$space-900: 7.2rem;
$space-800: 6.4rem;
$space-700: 5.6rem;
$space-500: 4rem;
$space-400: 3.2rem;
$space-300: 2.4rem;
$space-200: 1.6rem;
$space-100: .8rem;
$space-50: .4rem;

